@import "../variables.css";

/* .auth {
  margin-top: 10rem;
  background-color: var(--white-darkened);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
} */

.auth input:focus {
  outline: var(--accent);
  border: 2px solid var(--accent);
}