
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/chart.js"></script>
		<script src="/js/dark-mode.js"></script>
		<script src="/js/nav.js"></script>
</body>
</html>