<nav class="nav__centered">
	<ul class="nav__split">
		<div class="nav__split-content">
			<li><a id="logo" href="/">Track<span class="flipped">R</span></a></li>
			<li><a href="#">Features</a></li>
		</div>
		<div class="nav__split-content">
			<li><a href="#" class="btn__auth">Log in</a></li>
			<li><a href="#" class="btn__auth btn__bordered">Sign Up</a></li>
		</div>
	</ul>
</nav>
