<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="container projects">
          <a class="link" href="/create-project">
            <div class="block block__project-add">
              <i class='block__icon bx bx-folder-plus' ></i>
              <p class="block__text">Add New Project</p>
            </div>
          </a>
          <a class="link" href="/project/1">
          <div class="block block__project block__project-purple">
              <i class='block__icon bx bx-folder'></i>
              <p class="block__text">Project 1</p>
            </div>
          </a>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>