<%- include("./includes/header.ejs")%>
</head>

<body>
  <div class="tasks__not-found">
    <i class='icon__error bx bx-error-circle'></i>
    <h3 class="not-found__message">Page not found!</h3>
    <a href="/dashboard">Return to dashboard</a>
  </div>
<%- include("./includes/footer.ejs")%>