@import "../variables.css";

.status--pending {
	color: var(--gray);
}

.status--active {
	color: var(--light-blue);
}

.status--hold {
	color: var(--yellow);
}

.status--reviewing {
	color: var(--purple);
}

.status--complete {
	color: var(--green);
}

.status--overdue {
	color: var(--red);
}