<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/navigation.ejs")%>
    <main class="container">
        <div class="cta">
            <h1>Tasketeer</h1>
            <p>Keep track of your daily development tasks <br>
                get that satisfaction upon completeion
            </p>
            <div class="cta-btns">
                <a href="#" class="btn">Get Started</a>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </main>
<%- include("../includes/footer.ejs")%>